# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/
*.nuspec

# Configuraciones temporales
*.log
*.tmp
*.bak
*.cache
*.config
*.db

# Archivos de entorno
.env
.env.*

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini
